<?xml version="1.0" encoding="utf8" standalone="yes"?>
<settings>
	<setting id="ip" type="text" label="30100" default="127.0.0.1" />
	<setting id="port" type="text" label="30101" default="8112" />
	<setting id="pwd" type="text" label="30103" default="deluge" />
	<setting id="tdir" type="folder" source="files" label="30104" default="special://profile/torrents/" />
</settings>
